:root {
  --primary-color: coral;
  --secondary-color: chocolate;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: #333;
  text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}

#navbar ul li:hover a {
  color: #fff;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#navbar ul li:hover ul li span {
  float: right;
  color: #fff;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}

#showcase {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  background: coral;
}

#showcase h1 {
  color: #fff;
  font-size: 4rem;
  padding: 0 5rem;
}

@media (max-width: 600px) {
  #navbar ul li {
    display: block;
  }

  #navbar ul li:hover ul {
    width: 100%;
    position: relative;
  }
  

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

.hero {
  background: url("my-cv.pdf") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
.text-primary {
  color: var(--primary-color);
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: var(--primary-color);
  background: #333333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333333;
}

.btn-light {
  background: #f4f4f4;
  color: #333333;
}
.bg-dark {
  background: #333333;
  color: #ffffff;
}
.bg-light {
  background: #f4f4f4;
  color: #333333;
}
.bg-primary {
  color: #333333;
  background: #f7c08a;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

/* .box {
      float: left;
      width: 33.3%;
      padding: 50px;
      text-align: center; */

/* PAdding */

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* About Info */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}
#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}
/* Contact Form */

#contact-form .form-group {
  margin-bottom: 20px;
}
#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #dddddd solid;
}
#contact-form textarea {
  height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

/* Footer */

#main-footer {
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;
}

